<div class="signin-page">


    <!-- signup form -->
    <div class="login-centered-box">
        <!-- <h3>PLAN YOUR NEXT ATTACK</h3>
        <div class="">
            <button (click)="signUpWithFB()" class="btn btn-social fb-btn">
                <img src="assets/img/facebook.svg" /> Sign up using Facebook
            </button>
        </div>
        <div class="">
            <button (click)="signUpWithGoogle()" class="btn btn-social g-btn">
                <img src="assets/img/google.svg" /> Sign up with Google
            </button>
        </div> -->

        <h3 class="center">Sign up </h3>
        <form [formGroup]="registerForm">

            <div>
                <input placeholder="Full Name" type="text" formControlName="username" class="form-input" />
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </div>
            <div>
                <input placeholder="Email" type="email" formControlName="email" class="form-input" />
                <!-- <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">
                        Email must be a valid email address
                    </div>
                </div> -->
            </div>
            <div>
                <input placeholder="Password" type="password" formControlName="password" class="form-input" />
                <span style="color: rgb(245, 98, 6)" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.invalid">Password is Required</span>
            </div>
            <div class="d-flex flex-row">
                <label class="mb-2 text-white">Gender</label>
                <div class="d-flex flex-row mx-4">
                    <input id="male" type="radio" class="custom-control-input mt-1" value="male" name="gender" checked
                        formControlName="gender" style="height:22px; width:22px; ">
                    <label class="text-white custom-control-label mx-2" for="male">Male</label>
                </div>
                <div class="d-flex flex-row mx-4">
                    <input id="female" type="radio" class="custom-control-input mt-1" value="female" name="gender"
                        formControlName="gender" style="height:22px; width:22px;">
                    <label class="text-white custom-control-label mx-2" for="female">Female</label>
                </div>

            </div>


            <div class="d-flex flex-row text-center ">
                <button [disabled]="registerForm.invalid" (click)="registerUser()" class="btn btn-success text-white">
                    Sign up
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                </button>
            </div>
        </form>


        <div class="row last-row mt-2">
            <span>Already a member? <a routerLink="/auth/login"> Login</a></span>

        </div>
    </div>
</div>