<div class="signin-page">


    <!-- signup form -->
    <div class="login-centered-box">
        <!-- <h3>PLAN YOUR NEXT ATTACK</h3>
        <div class="">
            <button (click)="signUpWithFB()" class="btn btn-social fb-btn">
                <img src="assets/img/facebook.svg" /> Sign up using Facebook
            </button>
        </div>
        <div class="">
            <button (click)="signUpWithGoogle()" class="btn btn-social g-btn">
                <img src="assets/img/google.svg" /> Sign up with Google
            </button>
        </div> -->

        <h3 class="center">Sign up </h3>
        <form [formGroup]="registerForm">

            <div class="pt-2">
                <input placeholder="Full Name" type="text" formControlName="username" class="form-input" />
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </div>
            <div class="py-1">
                <input placeholder="Email" type="email" formControlName="email" class="form-input" />
                <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched ">
                    <small *ngIf="email?.errors?.['required']" class="text-danger ">Email is required</small> 
                    <small *ngIf="email?.errors?.['email']" class="text-danger">
                        Email must be a valid email address
                    </small> 
                </div>
            </div>
            <div class="py-1">
                <input placeholder="Password" type="password" formControlName="password" class="form-input" />
                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">
                        Password must be at least 6 characters
                    </div>
                </div> -->
            </div>
            <div class="d-flex flex-row">
                <label class="mb-2 text-white">Gender</label>
                <div class="d-flex flex-row mx-4">
                    <input id="male" type="radio" class="custom-control-input mt-1" value="male" name="gender"
                        formControlName="gender" style="height:22px; width:22px; ">
                    <label class="text-white custom-control-label mx-2" for="male">Male</label>
                </div>
                <div class="d-flex flex-row mx-4">
                    <input id="female" type="radio" class="custom-control-input mt-1" value="female" name="gender"
                        formControlName="gender" style="height:22px; width:22px;">
                    <label class="text-white custom-control-label mx-2" for="female">Female</label>
                </div>

            </div>


            <div class="d-flex flex-row align-items-center justify-content-center my-2">
                <button [disabled]="registerForm.invalid" (click)="onSubmit()" class="btn btn-success w-50  text-white" style="cursor: pointer;">
                    Sign up
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                </button>
            </div>
        </form>
     

        <div class="row last-row mt-2">
            <span>Already a member? <a routerLink="/auth/login" > Login</a></span>
          
        </div>
    </div>
</div>