<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<body>

    <div class="p-2">
        <div>
            <label class="fw-bold fs-4"> Contacts</label>
        </div>
        <div class="searchContainer mt-2">
        <div class="searchandSort  justify-content-between w-100 ">
            <div class="searchinput">
                <div class="input-group input-group-sm ">
                    <input #search class="form-control" type="search" placeholder="search"
                        id="example-search-input">
                    <i class="position-absolute fa fa-search end-0 mt-2 mx-2" aria-hidden="true"></i>
                </div>

            </div>
            <div class="sort-margin d-flex align-items-center">
                <span class="sort">Sort:</span>
                <div class="col-md-4">
                    <div class="switch6"
                        style="width: 8rem; margin-right: 0; border:1px solid #999999;border-radius: 10px; ">
                        <label class="switch6-light">
                            <input type="checkbox">
                            <span>
                                <span (click)="sortData(1)">Asc</span>
                                <span (click)="sortData(-1)">Dec</span>
                            </span>
                            <a class="btn btn-success"></a>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <table class="table border mt-3">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Status</th>
                    <th scope="col">Begin/End timestamp</th>

                </tr>
            </thead>
            <tbody *ngIf="!contactLoading">
                <tr
                    *ngFor="let contact of contacts.contacts | paginate : { itemsPerPage: limit,currentPage: page,totalItems: overall_totals,id:'contact'};let i=index">
                    <td>{{contact.contactName}}</td>
                    <td>{{contact.contactStatus}}</td>
                    <td>{{contact.contactBeginTimestamp}} / {{contact.contactEndTimestamp}}</td>

                </tr>

            </tbody>


        </table>
        <div *ngIf="contactLoading" class="d-flex justify-content-center">
            <div class="spinner-border text-success" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <div *ngIf="!contactLoading && overall_totals==0"
            class="d-flex align-items-center justify-content-center">
            <span>
                <p class="text-center mt-2"> <i class="fa fa-search fs-3" aria-hidden="true"></i></p>
                <p class=" fs-5">Contact is not Found</p>
            </span>
        </div>


        <div *ngIf="overall_totals!=0">
            <div class="d-flex align-items-center justify-content-center">
                <p class="text-sm ">Showing
                    <span>{{initial_page}}</span>
                    to
                    <span>{{total_page}}</span>
                    of
                    <span>{{overall_totals}}</span>
                    results
                </p>
            </div>
            <div class="pagination mt-0 d-flex justify-content-center align-items-center">
                <pagination-controls id="contact" (pageChange)="pageChanged($event)" previousLabel="Prev"
                    nextLabel="Next" [responsive]=true></pagination-controls>
            </div>
        </div>


    </div>
</body>