<div>
  <div *ngIf="false" class="loader"></div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a routerLink="/dashboard" class="navbar-brand">Ground Resources Management</a>
      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <!-- <div class="navbar-nav">
          <a href="" class="nav-item nav-link active">Dashboard</a>
         
        </div> -->
        <div class="navbar-nav ms-auto">

          <a (click)="auth.logout()" class="nav-item nav-link" style="cursor: pointer;">Logout</a>
        </div>
      </div>
    </div>
  </nav>
  <div class="container-fluid  ">
   
    <div class="row  mt-4 g-4 mb-6">
      <div class=" mt-2  col-sm-6 col-12">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row text-center ">
              <div class="col">
                <span class="h6 font-bold fs-3 text-success d-block mb-2">Total Contacts</span>
                <span *ngIf="!ContactsAndStats_Loading" class="h3 font-bold  mb-0">{{totalContacts}}</span>
                <div *ngIf="ContactsAndStats_Loading"  class="d-block w-25 position-absolute  start-50  translate-middle mt-4">
                  <p class=" loading-skeleton h3 font-bold mb-0 " style="height: 15px; width: 100%; background-color: rgb(212, 208, 208); border-radius: 3px;"></p>
                   <p class=" loading-skeleton h3 font-bold  mt-1 mb-0 " style="height: 15px; width: 70%; background-color: rgb(212, 208, 208); border-radius: 3px;"></p>
                   <p class=" loading-skeleton h3 font-bold  mt-1 mb-0 " style="height: 15px; width: 40%; background-color: rgb(212, 208, 208); border-radius: 3px;"></p>
               </div>
              </div>
             
              <div class="col-auto">
                <div class="icon icon-shape bg-tertiary text-white text-lg rounded-circle">
                  <i class="bi bi-credit-card"></i>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm">
              <span class="badge badge-pill bg-soft-success text-success me-2">
                <i class="bi bi-arrow-up me-1"></i>
              </span>
              <span class="text-nowrap text-xs text-muted"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-2  col-sm-6 col-12">
        <div class="card shadow border-0">
          <div class="card-body">
            <div class="row text-center">
              <div class="col">
                <span class="h6 fs-3 text-success  d-block mb-2">Total States</span>
                <span *ngIf="!ContactsAndStats_Loading" class="h3 font-bold mb-0">{{totalStates}}</span>
                <div *ngIf="ContactsAndStats_Loading"  class="d-block w-25 position-absolute  start-50  translate-middle mt-4">
                  <p class=" loading-skeleton h3 font-bold mb-0 " style="height: 15px; width: 100%; background-color: rgb(212, 208, 208); border-radius: 3px;"></p>
                   <p class=" loading-skeleton h3 font-bold  mt-1 mb-0 " style="height: 15px; width: 70%; background-color: rgb(212, 208, 208); border-radius: 3px;"></p>
                   <p class=" loading-skeleton h3 font-bold  mt-1 mb-0 " style="height: 15px; width: 40%; background-color: rgb(212, 208, 208); border-radius: 3px;"></p>
               </div>


              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-primary text-white text-lg rounded-circle">
                  <i class="bi bi-people"></i>
                </div>
              </div>
            </div>
            <div class="mt-2 mb-0 text-sm">
              <span class="badge badge-pill bg-soft-success text-success me-2">
                <i class="bi bi-arrow-up me-1"></i>
              </span>
              <span class="text-nowrap text-xs text-muted"></span>
            </div>
          </div>
        </div>
      </div>

    </div>






    <!-- <div class=" my-4 bg-light rounded-3 d-flex flex-row">
      <div >
        <app-contacts (isLoading)=onLoading($event)></app-contacts>
      </div>
      <div>
        <custom-alett-widget (isLoading)=onLoading($event)></custom-alett-widget>
      </div>
    </div> -->
      <div class="row mt-2 ">
        <div class="col">
          <app-contacts (isLoading)=onLoading($event)></app-contacts>
        </div>
        <div class="col">
          <custom-alett-widget (isLoading)=onLoading($event)></custom-alett-widget>
        </div>
       
      </div>
    <!-- <div class=" my-4 bg-light rounded-3">

    </div> -->


    <footer class="footer">
      <hr>
      <div class="row px-4">
        <div class="col-md-6">
          <p>Copyright © 2021 Tutorial Republic</p>
        </div>
        <div class="col-md-6 text-md-end">
          <a href="#" class="text-dark">Terms of Use</a>
          <span class="text-muted mx-2">|</span>
          <a href="#" class="text-dark">Privacy Policy</a>
        </div>
      </div>
    </footer>
  </div>
</div>